html{
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(175deg,skyblue, aquamarine, aqua, blue);
}
#container{
    display: grid;
    grid-template-columns: repeat(16, 10px);
    grid-auto-rows: minmax(50px, auto);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    margin-top: 100px;
    border: 1px solid black;
}
div{
    margin: 0; 
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



